<% unless user_signed_in? %> 
   <h1>Welcome to ShareBox</h1> 
   <p>File sharing web application you can't ignore.</p>    
<% else %>
   <div class="asset_list_header"> 
       <div class="file_name_header">File Name</div>
       <div class="file_size_header">Size</div>
       <div class="file_last_updated_header">Modified</div>
   </div>
   <div class="asset_list"> 
       <% @uploads.each do |upload| %> 
           <div class="asset_details"> 
               <div class="file_name"><%= link_to upload.file_name, upload.upload.download.path %></div> 
               <div class="file_size"><%= number_to_human_size(upload.upload.metadata["size"]) %></div> 
               <div class="file_last_updated"><%= time_ago_in_words(upload.updated_at) %> ago</div> 
           </div> 
       <% end %> 
   </div> 
<% end %>